# --------------------------------- #
# |       SUPERUSER FRONTEND      | #
# --------------------------------- #

## hostname for which OTHER SERVICES
## can find the FRONTEND service
mu_su_fe_HOSTNAME="mu_su_fe"

## port that the FRONTEND service listens to
# mu_fe_INTERNAL_PORT=3000

## Port to be accessed from HOST machine
mu_su_fe_EXPOSED_PORT=8080

## Mode that the service runs on. One of:
##  "prod", "dev"
mu_su_fe_MODE="prod"

# These environment variables are needed too:
# mu_ag_HOSTNAME
# mu_ag_INTERNAL_PORT
